@import '../../scss/variables';
@import '../../scss/mixins';

.contenido-principal {  
  background-color: $blanco;  
  padding: 1rem 2rem;
 
  @include tablet { 
    // padding: 10rem;
    padding: 1rem 10rem 10rem 10rem ;
    margin-top: -10rem;
    position: relative;
    width: 65%;
  }
}