$fuentePrincipal: "Raleway", sans-serif;
$fuenteSecundaria: "Roboto", sans-serif;
$fuenteCursiva: "Bona Nova", sans-serif;

// Media Querys
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

$primary-color: #5e311e;
$secondary-color: #c39c63;
$primary-green: #2a7031; // Verde primario más oscuro
$secondary-color: #557b2f; // Verde secundario más oscuro
$dark-green: #1b5e20; // Verde oscuro profundo para el fondo del copyright
$text-color: #262626; // Color de texto principal, un gris oscuro profundo
$hover-color: #144515; // Verde muy oscuro para efectos hover en los enlaces
$blanco: #ededed;
$tertiary-color: #455a64;

$negro: #000000;
$blanco: #ffffff;
$grisClaro: #eceeef;
$cafeClaro: #ebe7de;

$fuenteCursiva: "Georgia, serif"; // Fuente cursiva principal
$fuenteSans: "Arial, sans-serif"; // Fuente sans-serif para el texto de copyright

// Unidades
$separacion: 5rem;
